@import "../../styleGuide.module";

.menuLink{
  @extend %text-14px-medium;
  color:$main-black;
  padding: 22px 15px 18px;
  cursor: default;
}
.menuLinkButton{
  display: flex;
  @extend %text-14px-medium;
  padding: 22px 10px 18px;
  position: relative;
  cursor: default;

  span{
    position: absolute;
    top: 25px;
    left: 108px;
  }
  &:focus{
    outline: none;
  }
}
