@import "../../../styleGuide.module";

.tabs{
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  width: 100%;

  .tab{
    @extend %h4-20px-medium;
    margin-right: 24px;
    color: $main-blue;
  }

  @media (max-width: 767px) {
    .tab{
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
  }
}