@import "../../../styleGuide.module";

.card{
  box-shadow: 0 2px 12px rgba(13, 77, 163, 0.06), 0 2px 16px rgba(45, 45, 45, 0.08);
  border-radius: 8px;
  padding: 52px 60px;
  margin-bottom: 30px;
  width: 468px;
  position: sticky;
  z-index: 5;

  .close{
    position: absolute;
    color: $second-middle-grey;
    top: 18px;
    right: 18px;
  }

  h3{
    @extend %h3-24px-medium;
    padding-bottom: 32px;
  }

  .item {
    width: 100%;
    padding-bottom: 24px;
    position: relative;

    input[type='password'] {
      border: 1px solid rgba(198, 200, 205, 0.4);
      box-sizing: border-box;
      border-radius: 4px;
      height: 52px;
      width: 100%;
      @extend %text-14px-regular;
      position: relative;
      padding: 12px 12px 0;

      &:focus {
        outline: none;
      }

      &:active{
        background-color: $main-white;
        color: $main-black;

       & button{
          color:$main-blue
        }
      }
    }

    label{
      position: absolute;
      @extend %text-10px-regular;
      color: $second-middle-grey;
      top: 8px;
      left: 12px;
      z-index: 2;
    }

    button{
      position: absolute;
      top: 17px;
      right: 12px;
      color: $opacity3-main-blue;

      &:focus{
        outline: none;
      }
    }
  }

  .rules{
    padding-bottom: 40px;

    li{
      p{
        @extend %text-16px-regular;
        color: $second-middle-grey;
        padding-right: 3px;
      }

      span{
        display: none;
        color: $main-blue;
      }
    }
  }

  .submit{
    margin-right: auto;
    margin-left: auto;
    padding: 12px 32px;
    @extend %text-16px-medium;
    background-color: $light-blue;
    color: $opacity3-main-blue;
    border-radius: 4px;
    display: flex;
    align-self: center;

    &:focus{
      outline: none;
    }
  }

  .success{
    @extend %text-14px-regular;
    padding-bottom: 28px;
  }

  .finish{
    margin-right: auto;
    margin-left: auto;
    padding: 12px 32px;
    @extend %text-16px-medium;
    background-color: $main-blue;
    color: $main-white;
    border-radius: 4px;
    display: flex;
    align-self: center;

    &:focus{
      outline: none;
    }
  }

  @media (max-width: $mobile) {
    width: 100%;
  }
}