@import "../../../styleGuide.module";

.modal{
  background-color:$main-white;
  border:1px solid rgba(13, 77, 163, 0.1);
  border-radius: 4px;
  position: fixed;
  z-index: 1021;
  right:50px;
  top: 50px;
  color: #3996D2;
  padding: 16px;
  box-shadow: 0 2px 12px rgba(13, 77, 163, 0.06), 0 2px 16px rgba(45, 45, 45, 0.12);

  .header{
    display: flex;
    flex-direction: row;

    .title{
      @extend %text-16px-medium;
      padding-bottom: 12px;
      padding-right: 8px;
      color: $main-black;
    }
    span{
      color: $main-white;
    }
  }

  .body{
    display: flex;
    flex-direction: row;

    button{
      @extend %text-14px-medium;
      border-radius: 4px;
      padding: 10px 32px;
      margin-right: 8px;

      &:focus{
        outline: none;
      }
    }

    .reject{
      color: $main-blue;
      background-color: $light-blue;
    }

    .confirm{
      background-color: $main-blue;
      color:$main-white
    }
  }
}
